{
    "tabWidth": 4,
    "printWidth": 160,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
